@{
    ViewBag.Title = "Contacts";
}

<aside class="treeview-wrapper">
	@{ Html.RenderPartial("TreeView"); }
</aside>

<div class="content">
	@(Html.Kendo().ToolBar()
		.Name("calendarToolbar")
		.Items(items =>
		{
			items.Add().Type(CommandType.Button).Text("Next");

			items.Add().Type(CommandType.SplitButton).Text("Export").MenuButtons(menuButtons =>
			{
				menuButtons.Add().Text("Export to PDF");
			});

			items.Add().Type(CommandType.Button).SpriteCssClass("k-tool-icon k-createTable");

			items.Add().Type(CommandType.Button).SpriteCssClass("k-tool-icon k-i-search");
		})
	)
	<div class="contacts">
		<h2>Contacts</h2>

		@Html.ActionLink("New Contact", "NewContact", "Contacts")
	</div>
</div>
