@{
    ViewBag.title = "About this sample app";
}
<div>
    <h2>WHAT IS THIS SAMPLE APPLICATION ABOUT?</h2>
    <p>This demo showcases some of the most prominent Telerik ® UI for ASP.NET MVC components and leverages their powerful functionality to create a Microsoft Outlook inspired MVC application. You can easily spot how seamlessly the different controls fit and work together.</p>
</div>

<div>
    <h2>WHAT WAS IT BUILT WITH?</h2>
    <ul>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Telerik ASP.NET MVC Scheduler
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Telerik ASP.NET MVC Calendar
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Telerik ASP.NET MVC Menu
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Telerik ASP.NET MVC Tooltip
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Telerik ASP.NET MVC ListView
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Telerik ASP.NET MVC DropDownList
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Telerik ASP.NET MVC Upload
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Telerik ASP.NET MVC Button
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Telerik ASP.NET MVC ToolBar
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Telerik ASP.NET MVC TreeView
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Telerik ASP.NET MVC Grid
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Telerik ASP.NET MVC Editor
            </a>
        </li>
        <li>
            <a href="">
                <i class="fa fa-bars"></i>
                Kendo Drawing
            </a>
        </li>
    </ul>
</div>

<div>
    <h2>SEE MORE SAMPLE APPS</h2>
    <a href="#">
        <img src="" alt="Image galery" />
        IMAGE GALERY
    </a>
    <a href="#">
        <img src="" alt="Olympic games" />
        OLYMPIC GAMES
    </a>
    <a href="#">
        <img src="" alt="Sales dashboard" />
        SALES DASHBOARD
    </a>
    <a href="#">
        <img src="" alt="Diagramming tool" />
        DIAGRAMMING TOOL
    </a>
</div>
