@{
    ViewBag.title = "About this sample application";

}

@Styles.Render("~/Content/about.css")

<div>
    <h1>WebMail - Sample ASP.NET MVC Application</h1>
    <p>This demo showcases some of the most prominent Telerik ® UI for ASP.NET MVC components and leverages their powerful functionality to create a Microsoft Outlook inspired MVC application. You can easily spot how seamlessly the different controls fit and work together.</p>
</div>

<div>
    <h2>Built with Telerik&reg; UI for ASP.NET MVC</h2>
    <ul class="products">
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/button" target="_blank">
                Telerik ASP.NET MVC Button
            </a>
        </li>
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/Calendar" target="_blank">
                Telerik ASP.NET MVC Calendar
            </a>
        </li>
        <li>
            <a href="http://demos.telerik.com/aspnet-mvc/dialog/index" target="_blank">
                Telerik ASP.NET MVC Dialog
            </a>
        </li>
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/dropdownList" target="_blank">
                Telerik ASP.NET MVC DropDownList
            </a>
        </li>
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/editor" target="_blank">
                Telerik ASP.NET MVC Editor
            </a>
        </li>
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/grid" target="_blank">
                Telerik ASP.NET MVC Grid
            </a>
        </li>
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/listview" target="_blank">
                Telerik ASP.NET MVC ListView
            </a>
        </li>
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/menu" target="_blank">
                Telerik ASP.NET MVC Menu
            </a>
        </li>
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/multiselect" target="_blank">
                Telerik ASP.NET MVC MultiSelect
            </a>
        </li>
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/scheduler" target="_blank">
                Telerik ASP.NET MVC Scheduler
            </a>
        </li>
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/tooltip" target="_blank">
                Telerik ASP.NET MVC Tooltip
            </a>
        </li>
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/treeview" target="_blank">
                Telerik ASP.NET MVC TreeView
            </a>
        </li>
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/upload" target="_blank">
                Telerik ASP.NET MVC Upload
            </a>
        </li>
        <li>
            <a href="http://www.telerik.com/aspnet-mvc/window" target="_blank">
                Telerik ASP.NET MVC Window
            </a>
        </li>
        <li>
            <a href="http://demos.telerik.com/kendo-ui/drawing/index" target="_blank">
                Kendo Drawing
            </a>
        </li>
    </ul>
</div>

<div>
    <h2>Requirements</h2>
    <p>
        If you'd like to take a look behind the curtains, download the source code so you can examine and modify it as you please.
        In order to run the sample app locally, you need to have the respective or later versions of the following products:
    </p>
    <ul class="requirements">
        <li>
            Telerik&reg; UI for ASP.NET MVC - <a href="https://www.telerik.com/download-trial-file/v2/ui-for-asp.net-mvc" target="_blank">Download</a>
        </li>
        <li>
            Microsoft SQL Server Express 2012- <a href="https://www.microsoft.com/en-us/download/details.aspx?id=29062" target="_blank">Download</a>
        </li>
        <li>
            Microsoft .NET framework 4.5 - <a href="https://www.microsoft.com/en-us/download/details.aspx?id=30653" target="_blank">Download</a>
        </li>
        <li>
            Visual Studio 2012 - <a href="https://www.microsoft.com/en-us/download/details.aspx?id=30682" target="_blank">Download</a>
        </li>
    </ul>
</div>
