.main-sidebar .k-calendar {
  width: 100%;
  border: 0;
  background: transparent; }
  .main-sidebar .k-calendar .k-header,
  .main-sidebar .k-calendar .k-content,
  .main-sidebar .k-calendar th,
  .main-sidebar .k-calendar .k-nav-today {
    background: transparent; }

.main-sidebar .resource {
  padding: 10px 18px;
  cursor: pointer;
  position: relative;
  border-left: 4px solid; }
  .main-sidebar .resource.presonal {
    border-color: #6bcc65; }
    .main-sidebar .resource.presonal.selected {
      background: #6bcc65; }
  .main-sidebar .resource.work {
    border-color: #1e8edf; }
    .main-sidebar .resource.work.selected {
      background: #1e8edf; }
  .main-sidebar .resource.development {
    border-color: #ff55d9; }
    .main-sidebar .resource.development.selected {
      background: #ff55d9; }
  .main-sidebar .resource.design {
    border-color: #dd1c3c; }
    .main-sidebar .resource.design.selected {
      background: #dd1c3c; }
  .main-sidebar .resource.marketing {
    border-color: #ffc600; }
    .main-sidebar .resource.marketing.selected {
      background: #ffc600; }
  .main-sidebar .resource.selected {
    color: #fff; }

.k-scheduler .k-event-inverse {
  color: #fff; }

.k-scheduler .k-scheduler-toolbar .k-state-selected {
  background: #1e8edf;
  border-color: #1e8edf; }

.k-scheduler .k-scheduler-toolbar ul li.k-state-hover {
  background: #4ba5e5;
  border-color: #4ba5e5; }

.k-scheduler .k-nav-current.k-state-hover .k-link {
  color: #787878; }

.k-popup-edit-form.k-scheduler-edit-form .k-dropdown-wrap.k-state-hover {
  background: #4ba5e5;
  border-color: #4ba5e5; }

.k-popup-edit-form.k-scheduler-edit-form .k-dropdown-wrap.k-state-focused {
  color: #fff;
  border-color: #1e8edf;
  background: #1e8edf; }

.k-button:hover {
  background: #4ba5e5;
  border-color: #4ba5e5; }

.k-button:focus:not(.k-state-disabled):not([disabled]) {
  color: #fff;
  border-color: #1e8edf;
  background: #1e8edf;
  box-shadow: 0 0 0 1px #1e8edf inset; }

.k-picker-wrap.k-state-focused, .k-picker-wrap.k-state-focused.k-state-hover {
  color: #fff;
  border-color: #1e8edf;
  background: #1e8edf; }

.k-numeric-wrap.k-state-focused {
  background: #1e8edf; }

.k-numeric-wrap .k-link.k-state-selected {
  background: #1e8edf; }

.k-calendar .k-today,
.k-calendar td.k-state-focused,
.k-calendar td.k-state-hover.k-state-focused {
  box-shadow: inset 0 0 0 1px #1e8edf; }

.k-calendar .k-nav-fast.k-state-hover,
.k-calendar .k-other-month.k-state-hover .k-link {
  color: inherit;
  background: #e6e6e6; }

.k-calendar .k-state-selected,
.k-calendar td.k-state-selected.k-state-hover {
  color: #fff;
  background: #1e8edf; }

