@import '_variables.scss';

.btn {

    &:before {
        font-family: WebComponentsIcons;
    }

    &.selected {
        color: $accent;
    }

}

    .btn-cards:before {
        content: "\e02a";
    }

    .btn-listdetails:before {
        content: "\e029";
    }

.contacts {
    display: flex;

    .edit-buttons {
        display: none;
        position: absolute;
        right: 15px;
        top: 0;

        .k-button {
            border-radius: 50%;
        }
    }
}

    .contact-view {
        position: relative;


        &.k-state-selected {
            color: inherit;
            background: #fafafa;
            border-color: #ebebeb;
        }

        img {
            float: left;
        }

        &:after {
            content: "";
            display: block;
            clear: both;
        }
    }


/* List view - default */
.list-view {

    #contactsListView {
        flex: 0.3;
        line-height: 50px;

        .contact-view {
            border-width: 0 0 1px;
            line-height: 50px;

            &:hover {
                .edit-buttons {
                    display: block;
                }
            }
        }

        img {
            height: 50px;
            margin-right: 16px;
        }

        .details {
            display: none;
        }
    }

    .single-contact-details {
        padding: 17px 15px;
        flex: 0.7;

        .contact-view {
            border: 0;
        }

        .header {
            padding: 15px;
            background: #fafafa;
            font: 100 30px 'Segoe UI';

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }

        img {
            margin-right: 18px;
            height: 70px;
        }
    }
}

/* Card view */
.card-view {

    #contactsListView {
        flex: none;
        width: 100%;
    }

    .contact-view {
        float: left;
        width: 33.2%;
    }

    .details {
        display: block;
    }
}