.main-section {
  display: flex;
  flex-direction: column; }

.btn.selected {
  color: #1e8edf; }

.btn-cards:before {
  content: "\e02a"; }

.btn-listdetails:before {
  content: "\e029"; }

.search-textbox[type=text] {
  width: 100%;
  padding: 5px;
  border-width: 0;
  box-sizing: border-box; }

.inner-section {
  display: flex; }
  .inner-section .edit-buttons {
    display: none;
    position: absolute; }
    .inner-section .edit-buttons .k-button {
      display: inline-block;
      width: 1.14286em;
      line-height: 1.14286;
      padding: 2px;
      border-radius: 50%;
      box-sizing: content-box;
      border-width: 2px; }
      .inner-section .edit-buttons .k-button .icon:before {
        font: 13px WebComponentsIcons; }
    .inner-section .edit-buttons .i-mail:before {
      content: "\e809"; }
    .inner-section .edit-buttons .i-edit:before {
      content: "\e10b"; }
    .inner-section .edit-buttons .i-delete:before {
      content: "\e10c"; }

.contact-view {
  position: relative;
  cursor: pointer;
  border-color: #ebebeb; }
  .contact-view:hover, .contact-view.k-state-selected {
    color: inherit;
    background: #fafafa;
    border-color: #ebebeb; }
  .contact-view:hover .edit-buttons {
    display: block; }
  .contact-view .image-wrapper {
    float: left;
    overflow: hidden; }
  .contact-view img {
    width: 100%; }
  .contact-view:after {
    content: "";
    display: block;
    clear: both; }

.label {
  display: block;
  font-size: 11px;
  margin-top: 10px;
  color: #999999; }

.details .column {
  float: left;
  padding: 0 60px 0 15px; }

.header:after {
  content: "";
  display: block;
  clear: both; }

.image-wrapper {
  width: 70px;
  height: 70px;
  margin-right: 18px; }

/* List view - default */
.list-view .list-view-inner {
  flex: 0.3;
  overflow: auto; }
  .list-view .list-view-inner .contact-view {
    line-height: 50px;
    font-size: 15px;
    border-width: 0 0 1px;
    border-color: #ebebeb;
    line-height: 50px; }
    .list-view .list-view-inner .contact-view.k-state-selected {
      color: #000; }
      .list-view .list-view-inner .contact-view.k-state-selected:before {
        content: "";
        display: block; }
  .list-view .list-view-inner .details {
    display: none; }

.list-view .contactsListView .image-wrapper {
  width: 50px;
  height: 50px;
  margin-right: 16px; }

.list-view .contactsListView .edit-buttons {
  right: 15px;
  top: 0; }

.list-view .single-contact-details {
  padding: 17px 15px;
  flex: 0.7;
  border: 0; }
  .list-view .single-contact-details .contact-view {
    border: 0;
    cursor: default;
    color: #000; }
    .list-view .single-contact-details .contact-view:hover {
      background: transparent; }
  .list-view .single-contact-details .header {
    margin-bottom: 15px;
    padding: 15px;
    background: #fafafa; }
    .list-view .single-contact-details .header .edit-buttons {
      display: block;
      left: 105px;
      top: 60px; }
    .list-view .single-contact-details .header .name {
      font: 100 30px 'Segoe UI'; }

/* Card view */
.card-view .single-contact-details {
  display: none; }

.card-view .contactsListView {
  border-color: #ebebeb; }

.card-view .contact-view {
  float: left;
  width: 33.33333333%;
  padding: 15px;
  box-sizing: border-box;
  border-width: 0 0 1px 1px; }
  .card-view .contact-view.k-state-selected, .card-view .contact-view:hover {
    color: #000; }

.card-view .header .name {
  display: inline-block;
  padding-top: 7px;
  font-weight: 100;
  font-size: 18px; }

.card-view .header .edit-buttons {
  display: block;
  top: 50px;
  left: 100px; }

.card-view .details {
  display: block; }
  .card-view .details .column {
    padding-left: 0; }

