.main-section {
  display: flex;
  flex-direction: column; }

.mail-details {
  overflow: auto; }

.unread {
  font-weight: bold; }

tbody:empty:before {
  content: 'No mails to display in this category'; }

.inner-section {
  /*overflow: visible;*/ }

.mail-details-wrapper {
  flex: 1; }
  .mail-details-wrapper .empty-msg {
    display: none; }
  .mail-details-wrapper.empty {
    display: flex;
    justify-content: center;
    align-items: center; }
    .mail-details-wrapper.empty .mail-details {
      display: none; }
    .mail-details-wrapper.empty .empty-msg {
      display: block;
      flex: none;
      padding: 20px 40px;
      background: #fafafa; }

.mail-details {
  padding: 30px; }
  .mail-details .mail-subject {
    margin: 0 0 10px;
    font-weight: 300;
    font-size: 38px;
    color: #000; }
  .mail-details .mail-sender-wrapper {
    margin: 25px 0; }
  .mail-details label {
    font-weight: 700;
    margin-right: 5px;
    color: #333333; }
  .mail-details .mail-text {
    margin: 0;
    padding: 10px 0 30px;
    color: #333333; }

.noData-message {
  background: #fafafa; }

.main-section.vertical .inner-section {
  flex: 1;
  flex-direction: row; }

.main-section.vertical .mail-grid {
  flex: 0.34;
  border-right: 1px solid #ebebeb; }

.main-section.vertical .k-grid {
  display: flex;
  flex-direction: column;
  height: calc(100% - 33px);
  box-sizing: border-box; }

.main-section.vertical .mail-details-wrapper {
  overflow: auto; }

.main-section.vertical .mail-details {
  flex: 0.7; }

.main-section.vertical td.date,
.main-section.vertical [data-field="Date"] {
  width: 60px; }

.main-section.horizontal .inner-section {
  flex-direction: column;
  overflow: visible; }

.main-section.horizontal .k-grid {
  height: 270px;
  border-bottom: 1px solid #ebebeb; }

.main-section.horizontal .mail-details-wrapper {
  overflow: auto; }

.main-section.horizontal .mail-text {
  border-bottom: 1px solid #ededed; }

#mailMenu {
  border-width: 0; }
  #mailMenu > .k-item {
    border: 0;
    float: left; }
    #mailMenu > .k-item .k-link {
      padding-top: .8em;
      padding-bottom: .8em; }
  #mailMenu .k-link.k-state-active {
    color: #fff;
    border-color: #1e8edf;
    background: #1e8edf; }
  #mailMenu .selected {
    color: #1e8edf; }

#mailContextMenu {
  white-space: nowrap; }

.k-grid {
  border: 0; }
  .k-grid .k-grouping-header {
    padding-left: 15px;
    border-color: #ebebeb; }
  .k-grid .k-grid-header {
    box-sizing: border-box;
    border-color: #ebebeb; }
  .k-grid th.k-header,
  .k-grid td {
    border: 0;
    border-bottom: 1px solid #ebebeb; }
  .k-grid td {
    padding: .5em .6em;
    position: relative; }
  .k-grid .k-grid-content {
    white-space: nowrap;
    cursor: pointer; }
    .k-grid .k-grid-content p {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis; }
  .k-grid .k-alt {
    background: transparent; }
  .k-grid .k-state-selected,
  .k-grid .k-state-selected:hover,
  .k-grid tr:hover {
    color: inherit;
    background: #fafafa; }
  .k-grid .k-state-selected td:first-child:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-left: 4px solid #1e8edf; }

