@import '_variables.scss';



html {

    .k-primary,
    .k-state-selected,
    .k-list .k-state-selected {
        @include selected;
    }

    .k-state-active,
    .k-state-active:hover {
        border-color: $accent;
    }

    .k-state-hover,
    .k-state-hover:hover {
        color: inherit;
        border-color: $hover;
        background: $hover;
        box-shadow: none;

        &.k-item > .k-link {
            color: inherit;
            background: $hover;
        }

    }

    .k-textbox:hover,
    .k-textbox:focus {
        border-color: $accent;
    }

    .k-state-focused,
    .k-state-selected.k-state-focused {
        box-shadow: none;
    }

    .k-list > .k-state-focused {
        box-shadow: 0 0 0 1px $accent inset;
    }

    .k-icon,
    .k-icon:hover {
        color: inherit;
    }

    .k-checkbox-label:hover:before,
    .k-checkbox:checked+.k-checkbox-label:hover:before,
    .k-checkbox:focus+.k-checkbox-label:before
     {
        border-color: $accent;
    }

    .k-checkbox:checked+.k-checkbox-label:before {
        color: $accent;
    }

}

.k-widget.k-tooltip {
    background: #fff;
    color: inherit;
}

.k-scheduler  {

    .k-event-inverse {
        color: #fff;
    }

    .k-scheduler-toolbar {

        .k-state-selected {
            background: $accent;
            border-color: $accent;
        }

        ul li.k-state-hover {
            background: $hover-primary;
            border-color: $hover-primary;
        }
    }
}

.k-popup-edit-form.k-scheduler-edit-form {

    .k-state-hover {
        color: #fff;
        background: $hover-primary;
        border-color: $hover-primary;
    }

    .k-dropdown-wrap {

        &.k-state-focused {
            @include selected;
        }
    }

    .k-numeric-wrap:not(.k-state-disabled),
    .k-datetimepicker {

        .k-icon:not(:hover) {
            color: #787878;
        }
    }
}

.k-button {

    &:hover {
        background: $hover-primary;
        border-color: $hover-primary;
    }

    &:active,
    &:active:hover,
    &.k-state-focused {
        background: $accent;
        border-color: $accent;
    }

    &.k-state-focused,
    &:focus:not(.k-state-disabled):not([disabled]) {
        @include selected;
        box-shadow: 0 0 0 1px $accent inset;
    }
}

.k-picker-wrap {

    &.k-state-focused,
    &.k-state-focused.k-state-hover {
        @include selected;
    }
}

.k-numeric-wrap {
    &.k-state-focused {
        background: $accent;
    }

    .k-link.k-state-selected {
        background: $accent;
    }
}

.k-calendar {

    .k-today,
    td.k-state-focused,
    td.k-state-hover.k-state-focused {
        box-shadow: inset 0 0 0 1px $accent;
    }

    .k-nav-fast.k-state-hover,
    .k-other-month.k-state-hover .k-link {
        background: $hover-primary;
    }

    .k-state-selected,
    td.k-state-selected.k-state-hover {
        color: #fff;
        background: $accent;
    }
}

.k-dropdown-wrap {

    &.k-state-focused {
        background: $accent;
        border-color: $accent;
    }
}

.k-panelbar .k-tabstrip-items .k-state-active,
.k-tabstrip-items .k-state-active,
.k-editor-dialog ul.k-tabstrip-items {
    border-color: $accent;
}