html .k-primary,
html .k-state-selected,
html .k-list .k-state-selected {
  color: #fff;
  border-color: #1e8edf;
  background: #1e8edf; }

html .k-state-active,
html .k-state-active:hover {
  border-color: #1e8edf; }

html .k-state-hover,
html .k-state-hover:hover {
  color: inherit;
  border-color: #e6e6e6;
  background: #e6e6e6;
  box-shadow: none; }
  html .k-state-hover.k-item > .k-link,
  html .k-state-hover:hover.k-item > .k-link {
    color: inherit;
    background: #e6e6e6; }

html .k-textbox:hover,
html .k-textbox:focus {
  border-color: #1e8edf; }

html .k-state-focused,
html .k-state-selected.k-state-focused {
  box-shadow: none; }

html .k-list > .k-state-focused {
  box-shadow: 0 0 0 1px #1e8edf inset; }

html .k-icon,
html .k-icon:hover {
  color: inherit; }

html .k-checkbox-label:hover:before,
html .k-checkbox:checked + .k-checkbox-label:hover:before,
html .k-checkbox:focus + .k-checkbox-label:before {
  border-color: #1e8edf; }

html .k-checkbox:checked + .k-checkbox-label:before {
  color: #1e8edf; }

html .k-treeview-leaf.k-selected,
html .k-treeview-leaf.k-selected:hover {
  background: #1e8edf; }

html .k-treeview-leaf:hover {
  background: #e6e6e6;
  color: inherit; }

html .k-treeview-leaf.k-in {
  width: 100%; }

html .k-menu-horizontal .k-menu-link {
  border-style: none;
  margin-right: 10px;
  padding-top: 14px;
  padding-bottom: 12px; }

html .k-menu:not(.k-context-menu){
    background-color: #ffffff;
}

html .k-menu:not(.k-context-menu) > .k-item {
    color: #ffffff; }

html .k-menu:not(.k-context-menu) > .k-item.k-hover, html .k-menu:not(.k-context-menu) > .k-item:hover {
  background-color: #2593e5; }

html .k-button-solid-base.k-active, html .k-button-solid-base.k-selected, html .k-button-solid-base:active {
  border-color: #1e8edf;
  background: #1e8edf; }

html .k-treeview-leaf.k-selected.k-focus, html .k-treeview-leaf.k-selected:focus {
  box-shadow: inset 0 0 0 1px #1e8edf; }

.k-widget.k-tooltip {
  background: #fff;
  color: inherit; }

.k-scheduler .k-event-inverse {
  color: #fff; }

.k-scheduler .k-scheduler-toolbar .k-state-selected {
  background: #1e8edf;
  border-color: #1e8edf; }

.k-scheduler .k-scheduler-toolbar ul li.k-state-hover {
  background: #4ba5e5;
  border-color: #4ba5e5; }

.k-popup-edit-form.k-scheduler-edit-form .k-state-hover {
  color: #fff;
  background: #4ba5e5;
  border-color: #4ba5e5; }

.k-popup-edit-form.k-scheduler-edit-form .k-dropdown-wrap.k-state-focused {
  color: #fff;
  border-color: #1e8edf;
  background: #1e8edf; }

.k-popup-edit-form.k-scheduler-edit-form .k-numeric-wrap:not(.k-state-disabled) .k-icon:not(:hover),
.k-popup-edit-form.k-scheduler-edit-form .k-datetimepicker .k-icon:not(:hover) {
  color: #787878; }

.k-button:hover {
  background: #4ba5e5;
  border-color: #4ba5e5; }

.k-button:active, .k-button:active:hover, .k-button.k-state-focused {
  background: #1e8edf;
  border-color: #1e8edf; }

.k-button.k-state-focused, .k-button:focus:not(.k-state-disabled):not([disabled]) {
  color: #fff;
  border-color: #1e8edf;
  background: #1e8edf;
  box-shadow: 0 0 0 1px #1e8edf inset; }

.k-picker-wrap.k-state-focused, .k-picker-wrap.k-state-focused.k-state-hover {
  color: #fff;
  border-color: #1e8edf;
  background: #1e8edf; }

.k-numeric-wrap.k-state-focused {
  background: #1e8edf; }

.k-numeric-wrap .k-link.k-state-selected {
  background: #1e8edf; }

.k-calendar .k-today,
.k-calendar td.k-state-focused,
.k-calendar td.k-state-hover.k-state-focused {
  box-shadow: inset 0 0 0 1px #1e8edf; }

.k-calendar .k-nav-fast.k-state-hover,
.k-calendar .k-other-month.k-state-hover .k-link {
  background: #4ba5e5; }

.k-calendar .k-state-selected,
.k-calendar td.k-state-selected.k-state-hover {
  color: #fff;
  background: #1e8edf; }

.k-dropdown-wrap.k-state-focused {
  background: #1e8edf;
  border-color: #1e8edf; }

.k-panelbar .k-tabstrip-items .k-state-active,
.k-tabstrip-items .k-state-active,
.k-editor-dialog ul.k-tabstrip-items {
  border-color: #1e8edf; }
