.k-menu.k-header {
  border: 0; }
  .k-menu.k-header .k-item {
    border: 0; }
    .k-menu.k-header .k-item .k-link {
      padding: 9px 16px; }

.inner-section {
  padding: 15px;
  display: block;
  overflow: auto; }
  .inner-section .k-state-hover:hover {
    color: #fff;
    background: #1e8edf; }

.form-wrapper {
  width: 300px;
  float: left; }

.k-tooltip.k-invalid-msg {
  display: block;
  line-height: 30px;
  white-space: nowrap;
  position: relative; }

.form-label {
  display: block;
  padding: 15px 0 5px;
  color: #787878;
  font-size: 13px; }

.long-textbox {
  width: 100%;
  box-sizing: border-box; }

.k-upload {
  background: #fafafa; }
  .k-upload .k-dropzone em {
    visibility: visible; }

.k-webkit .k-editor-toolbar li {
  padding: 0; }

table.k-editor {
  margin: 15px 0;
  border-spacing: 10px; }
  table.k-editor .k-editable-area {
    border: 0; }

html .k-editor-dialog.k-editor-table-wizard-dialog .k-tabstrip-wrapper .k-content {
  font-size: 12px; }

h2 {
  font: 18px Roboto;
  color: #333; }

.forms-panel {
  margin-right: 40px; }

.upload-wrapper {
  width: 400px;
  margin-bottom: 20px; }
  .upload-wrapper .upload-image-wrapper {
    display: block;
    width: auto;
    height: auto;
    margin-top: 35px; }
  .upload-wrapper .image-preview {
    width: 100px;
    margin-bottom: 20px;
    border: 1px solid #dbdbdb; }

.form-buttons {
  padding: 15px 0;
  clear: both; }
  .form-buttons .k-button {
    padding: 5px 15px;
    margin-right: 10px;
    border-color: transparent; }

