@import '_variables.scss';

.main-sidebar {
    width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    background: #fafafa;
    overflow: auto;

    .content {
        flex: 1;
    }

    .new-btn {
        display: flex;
        padding: 13px 16px;
        font-size: 16px;
        color: #0072c6;
        cursor: pointer;
        align-items: center;

        &:before {
            display: inline-block;
            content: "\e11f";
            margin: 0 5px 0 0;
            font: 24px "WebComponentsIcons";
            vertical-align: middle;
        }
    }

    .k-treeview {

        .k-item {
            padding: 0;
        }

        .k-in {
            display: block;
            margin: 0;
            padding: 10px 15px;

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }

        .folder-name {
            float: left;
        }

        .number {
            float: right;
        }


    }


    .footer {
        padding: 15px;
        font-size: 10px;
        color: #b7b7b7;

        .links {
            color: $accent;
            font-size: 13px;
            line-height: 26px;
            margin-bottom: 10px;
            cursor: pointer;

            p {
                margin-bottom: 5px;
            }
        }

        & > p {
            margin-top: 10px;
        }
    }
}
