html,
body {
  height: 100%; }

body {
  display: flex;
  margin: 0;
  font: 13px/1 Segoe UI, 'Roboto', Myriad Pro, sans-serif;
  color: #787878;
  background: #fafafa; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

h2 {
  font-weight: normal; }

a {
  color: inherit; }
  a, a:hover {
    text-decoration: none; }

.k-state-hover:hover {
  color: inherit;
  background: #e6e6e6;
  border-color: #e6e6e6; }
  .k-state-hover:hover .k-icon {
    color: inherit; }

.sidebar {
  width: 355px;
  display: flex;
  flex-direction: column;
  padding: 130px 140px 45px 45px;
  color: #fff;
  font-weight: 100;
  background-color: #006dbd;
  background-image: linear-gradient(90deg, #2594e5, #006dbd);
  box-sizing: border-box; }

.header {
  flex: 1; }
  .header h1 {
    margin: 0;
    font-weight: 600;
    font-size: 24px; }
  .header p {
    margin: 5px 0; }

.footer {
  font-size: 12px;
  line-height: 1.33em; }

.content {
  padding: 130px 150px 30px; }
  .content h2 {
    margin: 0 0 30px;
    font-weight: 600;
    font-size: 24px;
    color: #000; }
  .content label {
    display: block;
    padding: 15px 0 5px; }
  .content input {
    width: 230px;
    padding: 12px;
    border: 1px solid #ebebeb; }
  .content button {
    margin: 20px 0 30px;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    background: #1e8edf;
    cursor: pointer; }
  .content .k-primary:hover {
    background: #4ba5e5; }
  .content .links p,
  .content .links a,
  .content .links a:hover {
    margin: 10px 0 20px;
    color: #1e8edf;
    cursor: pointer; }
  .content .links a {
    display: block;
    text-decoration: none; }

