@import '_variables.scss';

html,
body {
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    font: 13px/1 Segoe UI, 'Roboto', Myriad Pro, sans-serif;
    color: #787878;
    background: #fafafa;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2 {
    font-weight: normal;
}

a {
    color: inherit;

    &,
    &:hover {
        text-decoration:  none;
    }
}

.k-state-hover:hover {
    color: inherit;
    background: $hover;
    border-color: $hover;

    .k-icon {
        color: inherit;
    }
}

.sidebar {
    width: 355px;
    display: flex;
    flex-direction: column;
    padding: 130px 140px 45px 45px;
    color: #fff;
    font-weight: 100;
    background-color: #006dbd;
    background-image: linear-gradient(90deg, #2594e5, #006dbd );
    box-sizing: border-box;
}

    .header {
        flex: 1;

        h1 {
            margin: 0;
            font-weight: 600;
            font-size: 24px;
        }

        p {
            margin: 5px 0;
        }
    }

    .footer {
        font-size: 12px;
        line-height: 1.33em; 
    }

.content {
    padding: 130px 150px 30px;

    h2 {
        margin: 0 0 30px;
        font-weight: 600;
        font-size: 24px;
        color: #000;
    }

    label {
        display: block;
        padding: 15px 0 5px;
    }

    input {
        width: 230px;
        padding: 12px;
        border: 1px solid #ebebeb;
    }

    button {
        margin: 20px 0 30px;
        padding: 10px 20px;
        border: 0;
        color: #fff;
        background: $accent;
        cursor: pointer;
    }

    .k-primary:hover {
        background: $hover-primary;
    }

    .links {
        p,
        a,
        a:hover {
            margin: 10px 0 20px;
            color: $accent;
            cursor: pointer;
        }

        a {
            display: block;
            text-decoration: none;
        }
    }
}
