body, div, p, h1, h2, h3, h4, h5, h6, ul, li, section, header, nav {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    min-width: 800px;
}

/* ENSURE ALL EVENTS RENDER WHITE TEXT */


.hidden {
    display: none;
}

.k-menu {
    display: inline-block;
}

/* HEADER + NAVIGATION */
.header {
    background-color: #1C8BDD;
}

.navigation {
    height: 50px;
}

.navigation .logo {
    display: inline-block;
}

.navigation .k-menu {
    float: right;
}

/* ASIDE */
.treeview-wrapper,
.calendar-aside {
    float: left;
    height: 100%;
    background-color: lightblue;
    width: 273px;
}

.about-and-source {
    bottom: 0;
    width: 273px;
    position: absolute;
}

/* CONTENT */
.content {
    height: 100%;
    overflow: hidden;
}

/* NAVIGATION TREEVIEW */
.btn-new-node {
    margin-left: 25px;
    color: dodgerblue;
}

#new-node-container {
    margin-left: 25px;
}

.new-view-button {
    font-size: 20px;
    color: dodgerblue;
}

/* CHECKBOX LIST */
.calendar-checkbox-list li {
    list-style: none;
    padding-bottom: 1em;
}

/* VIEWS */
.contacts,
.notes {
    height: 100%;
    background-color: lightgreen;
}


.long-textbox {
    width: 100%;
}

.view-header-wrapper div {
    display: inline-block;
    margin-right: 10px;
}



/* MAIL */
.mail-grid {
    height: 450px;
}

.mail-details-header {
    padding: 1em 0.5em;
    margin-bottom: 1em;
    height: 3em;
    background-color: orange;
}

.mail-details-header .mail-subject {
    font-size: 2em;
}

.mail-details-header .mail-sender {
    float: left;
}

.mail-details-header .mail-date {
    float: right;
}

.mail-text {
    padding: 0 0.5em;
}

/* NEW MAIL / NOTE */
.new-wrapper {
    padding: 20px;
    overflow: hidden;
}

.new-line {
    height: 50px;
    padding-top: 20px;
}

.attachements-line {
    padding-bottom: 20px;
    padding-top: 20px;
}

.new-mail-dropdown-wrapper {
    float: left;
    margin-right: 20px;
}

/* CONTACTS */
.contacts {
    overflow: auto;
}

.contacts .k-listview {
    width: 400px;
    border: 0;
    float: left;
}

.contact-card {
    float: left;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border-top: 0;
    position: relative;
}

.contact-details {
    float: left;
    width: 400px;
    height: 400px;
}

/* NEW CONTACT */
.new-contact-dropdown-wrapper,
.new-contact-upload-wrapper {
    display: inline-block;
}

.new-contact-upload-wrapper {
    width: 400px;
}

.contact-edit-view {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 273px;
}

/* NOTES */
.notes .k-grid-content {
    height: auto !important;
}