body, div, p, h1, h2, h3, h4, h5, h6, ul, li, section, header, nav {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
	min-width: 800px;
}

.page-wrapper {
	height: 100%;
	overflow: hidden;
}

.content-wrapper {
	height: 94%;
}

.hidden {
	display: none;
}

/* SLIDER */
.slider {
	float: left;
	width: 0;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: #000;
	transition: width 0.07s 0.07s ease;
}

	.slider.expanded {
		width: 250px;
	}

	.slider .k-menu,
	.slider .logo {
		width: 250px;
	}

	.slider .logo {
		text-transform: uppercase;
		color: #8d8d8d;
		font-size: 16px;
		font-weight: 400;
		margin: 16px auto;
		text-align: center;
	}

#HelpMenu {
	position: absolute;
	bottom: 0;
}

/* HEADER */
.header {
	width: 100%;
	background-image: url('http://demos.telerik.com/aspnet-ajax/webmail/Images/backgrounds/header_mail.gif');
	height: 60px;
}

	.header .k-menu {
		float: right;
	}

	.header .home-btn {
		float: left;
	}

/* ASIDE */
.treeview-wrapper,
.calendar-aside {
	float: left;
	height: 100%;
	background-color: lightblue;
	width: 273px;
}

/* CONTENT */
.content {
	height: 100%;
	overflow:hidden;
}

/* NAVIGATION TREEVIEW */
.btn-new-node {
	margin-left: 25px;
	color: dodgerblue; 
}

#new-node-container {
	margin-left: 25px;
}

/* TOOLBAR */
.content .k-toolbar {
	/*height: 48px;*/
}

/* CHECKBOX LIST */
.calendar-checkbox-list li {
	list-style: none;
	padding-bottom: 1em;
}

/* VIEWS */
.contacts,
.notes {
	height: 100%;
	background-color: lightgreen;
}

/* SCHEDULER */
.content .k-scheduler {
	position: absolute;
	display: inline-block;
	bottom: 0;
	top: 110px;
	overflow: auto;
}

.k-scheduler .k-scheduler-layout {
	border: 1px solid #DDD;
}

.calendar-resource {
	background: #ccc;
	font-size: 18px;
}

.calendar-resource.selected {
	background: lightgreen;
}

/* MAIL */
.inner-mail-content {
	overflow: hidden;
	position: relative;
	height: 87%;
}

.mail-grid,
.mail-details {
	height: 50%;
	min-height: 250px;
}

.mail-grid {
	background-color: yellow;
}

.mail-details-header {
    padding: 1em 0.5em;
    margin-bottom: 1em;
    background-color: orange;
}

.mail-details-header:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.mail-details-header .mail-subject {
    font-size: 2em;
}

.mail-details-header .mail-sender {
    float: left;
}

.mail-details-header .mail-date {
    float: right;
}

.mail-text {
    padding: 0 0.5em;
}

/* NEW MAIL */
.new-mail-wrapper {
    padding: 20px;
    height: 100%;
    box-sizing:border-box;
}

.new-mail-line {
    height: 50px;
    padding-top: 20px;
}

.attachements-line {
    padding-bottom: 20px;
    padding-top: 20px;
}

.new-mail-dropdown-wrapper {
    float: left;
    margin-right: 20px;
}

.k-menu {
    display: inline-block;
}

.new-mail-textbox {
    width: 100%;
}