@import '_variables.scss'; 

.k-grid {
    border: 0;
    border-color: #ebebeb;

    tr:hover {
        background: $accent;
    }

    td,
    th.k-header {
        border-width: 0 0 1px 0;
        border-color: #ebebeb;
    }

    td:first-child,
    th:first-child {
        text-align: right;
    }
}

.tasks tbody:empty:before {
    content:'No tasks to display in this category';
    position: absolute;
    padding: 30px 17px;
} 