.main-section {
  overflow: auto; }

.k-grid {
  border: 0;
  border-color: #ebebeb; }
  .k-grid table {
    table-layout: fixed; }
  .k-grid tr:hover {
    background: #1e8edf; }
  .k-grid td,
  .k-grid th.k-header {
    border-width: 0 0 1px 0;
    border-color: #ebebeb; }
  .k-grid td:first-child,
  .k-grid th:first-child {
    text-align: right; }

