@using TelerikMvcWebMail.Models

@{
    ViewBag.Title = "Contacts";
}

<script type="text/x-kendo-tmpl" id="list-template">
    <div class="contact-list k-widget">
        <img src="@Url.Content("~/Content/web/Employees/")#:EmployeeID#.jpg" alt="#:EmployeeID # image" />
        <span>#: FirstName# #: LastName#</span>
        <div class="edit-buttons">
            <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
            <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
        </div>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="cards-template">
    <div class="contact-card k-widget">
        <img src="@Url.Content("~/Content/web/Employees/")#:EmployeeID#.jpg" alt="#:EmployeeID # image" />
        <h3>#: FirstName# #: LastName#</h3>
        <p>Country : #: Country# </p>
        <p>Company : #: LastName# </p>
        <p>City : #: City# </p>
        <p>Phone : #: HomePhone# </p>
        <div class="edit-buttons">
            <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
            <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
        </div>
    </div>
</script>

<script type="text/x-kendo-tmpl" id="details-template">
    <img src="@Url.Content("~/Content/web/Employees/")#:EmployeeID#.jpg" alt="#:EmployeeID # image" />
    <h3>#: FirstName# #: LastName#</h3>
    <p>Country : #: Country# </p>
    <p>Company : #: LastName# </p>
    <p>City : #: City# </p>
    <p>Phone : #: HomePhone# </p>
    <div class="edit-buttons">
        <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-edit"></span></a>
        <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-delete"></span></a>
    </div>
</script>

<aside class="treeview-wrapper">
    @{ Html.RenderPartial("TreeView"); }
</aside>

<div class="content">
	<div class="view-header-wrapper">	
		<div class="btn-export-pdf" onclick="exportPeople()">Export to PDF</div>
		<div class="btn-cards" onclick="changeToContactsCards()">Cards (Placeholder text)</div>
		<div class="btn-listdetails" onclick="changeToListDetails()">Vertical Panes (Placeholder text)</div>
	</div>

    <div class="contacts">

        @(Html.Kendo().ListView<TelerikMvcWebMail.Models.ContactViewModel>()
            .Name("contactsListView")
            .TagName("div")
            .ClientTemplateId("list-template")
            .DataSource(dataSource => dataSource
                .Model(model => model.Id("EmployeeID"))
                .Create(create => create.Action("Contacts_Create", "Contacts"))
                .Read(read => read.Action("Contacts_Read", "Contacts"))
                .Update(update => update.Action("Contacts_Update", "Contacts"))
                .Destroy(destroy => destroy.Action("Contacts_Destroy", "Contacts"))
            )
            .Editable()
            .Selectable()
            .Events(e => e
                .DataBound("onListViewDataBound")
                .Change("onListViewSelectionChange")
            )
        )

        <div class="contact-details k-widget">

        </div>


    </div>
</div>

<script>
    function exportPeople() {
    	kendo.drawing.drawDOM($(".contacts"))
            .then(function (group) {
                return kendo.drawing.exportPDF(group, {
                    paperSize: "auto",
                    margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                });
            })
            .done(function (data) {
                kendo.saveAs({
                    dataURI: data,
                    fileName: "People.pdf"
                });
            });
    }

    function changeToListDetails() {
        var lvDiv = $('#contactsListView');
        lvDiv.css('width', '400px');
        $('.contact-details').css('display', 'block');

        var lv = lvDiv.data('kendoListView');
        lv.setOptions({ template: kendo.template($('#list-template').html()) });
        lv.refresh();
    }

    function changeToContactsCards() {
        var lvDiv = $('#contactsListView');
        lvDiv.css('width', '100%');
        $('.contact-details').css('display', 'none');

        var lv = lvDiv.data('kendoListView');
        lv.setOptions({ template: kendo.template($('#cards-template').html()) });
        lv.refresh();
    }

    function onListViewDataBound(e) {
        var listView = e.sender;
        var selectedItem = listView.select();
        listView.select(listView.element.children().first());
    }

    function onListViewSelectionChange(e) {
        var selecteditem = e.sender.select();
        var dataItem = e.sender.dataItem(selecteditem);
        var template = kendo.template($('#details-template').html());
        var result = template(dataItem);
        $(".contact-details").html(result);
    }

</script>
