@using TelerikMvcWebMail.Models

@{
    ViewBag.Title = "Contact";
}

@section PageStyles {
    <link type="text/css" href="@Url.Content("~/Content/contacts.css")" rel="stylesheet" />
}

@Scripts.Render("~/Scripts/contacts.js")

<script type="text/x-kendo-tmpl" id="single-contact-template">
    <div class="contact-view k-widget" uid="#: uid #">
        <div class="header">
            <span class="hidden-email" style="display:none">#: Email #</span>
            <span class="image-wrapper">
                <img src="# if (sessionStorage.getItem(EmployeeID)) {#data:image/png;base64,#:sessionStorage.getItem(EmployeeID)# # } else {#@(Url.Content("Contacts/Picture/"))#:EmployeeID# # } #" alt="#:EmployeeID # image"/>
            </span>
            <span class="name">#: Name #</span>
            <div class="edit-buttons">
                <span class="k-button k-single-email-button" ><span class="icon i-mail"></span></span>
                <span class="k-button k-single-edit-button" ><span class="icon i-edit"></span></span>
                <span class="k-button k-single-delete-button" ><span class="icon i-delete"></span></span>
            </div>
        </div>
        <div class="details">
            <div class="column">
                <p><span class="label">Country</span>#if (Country) {# #: Country # #}# &nbsp;</p>
                <p><span class="label">City</span>#if (City) {# #: City # #}# &nbsp;</p>
            </div>
            <div class="column">
                <p>
                    <span class="label">Company</span>
                    <span>#if (Company) {# #: Company # #}# &nbsp;</span>
                </p>
                <p>
                    <span class="label">Phone</span>
                    <span>#if (Phone) {# #: Phone # #}# &nbsp;</span>
                </p>
            </div>
        </div>
    </div>
</script>

@Html.Partial("Sidebar")

<section class="main-section">
    <div class="toolbar">
        <div class="left">
            <span class="btn btn-export-pdf" onclick="exportPeople()">Export to PDF</span>
        </div>
        <div class="right">
            <span class="btn btn-vertical-pane iconOnly selected" onclick="changeToListDetails(this)" title="Display vertical panes"></span>
            <span class="btn btn-cards iconOnly" onclick="changeToContactsCards(this)" title="Display cards"></span>
        </div>
    </div>
    <div class="inner-section list-view">
        <div class="list-view-inner">
            <span class="searchbox">
                <input type="text" class="k-input search-textbox" placeholder="Search people ...">
            </span>
            @(Html.Kendo().ListView<TelerikMvcWebMail.Models.ContactViewModel>()
                .Name("mainWidget")
                .TagName("div")
                .ClientTemplateId("single-contact-template")
                .DataSource(dataSource => dataSource
                    .Model(model => model.Id("EmployeeID"))
                    .Create(create => create.Action("Contacts_Create", "Contacts"))
                    .Read(read => read.Action("Contacts_Read", "Contacts"))
                    .Update(update => update.Action("Contacts_Update", "Contacts"))
                    .Destroy(destroy => destroy.Action("Contacts_Destroy", "Contacts"))
                )
                .Editable()
                .Selectable()
                .Events(e => e
                    .DataBound("onListViewDataBound")
                    .Change("onListViewSelectionChange")
                    .Edit("onListViewEdit")
                    .Cancel("onListViewChangeCancel")
                    .Save("onListViewChangeSave")
                )
                .HtmlAttributes(new { @class = "contacts-list" })
            )
        </div>
        <div class="single-contact-details k-widget">
        </div>
    </div>
</section>