@{
    Layout = null;
}

<div class="footer">
    <div>
        <span id="btn-about">About This App</span>
    </div>
    <div>
        @Html.ActionLink("Download Source Code", "", "")
    </div>
    <p>
        Copyright &copy; @DateTime.Now.Year Progress Software Corporation and/or its subsidiaries or affiliates.
    </p>
    <p>
        All Rights Reserved.
    </p>
</div>

<div>
    @(Html.Kendo().Window()
        .Name("aboutWindow")
        .Title("")
        .Content("loading...")
        .Iframe(true)
        .Modal(true)
        .LoadContentFrom("About", "Home")
        .Width(1000)
        .Height(930)
        .Actions(actions => actions.Close())
        .Draggable(true)
        .Visible(false)
    )
</div>
<script>
    $(document).ready(function () {
        $("#btn-about").on("click", function () {
            var window = $("#aboutWindow").data("kendoWindow");
            window.open();
            window.center();
        });
    });
</script>


