@{
    Layout = null;
}

<div class="footer">
    <div>
        @Html.ActionLink("About This App", "About", "Home")
    </div>
    <div>
        @Html.ActionLink("Download Source Code", "", "")
    </div>
    <p>
        Copyright &copy; @DateTime.Now.Year Progress Software Corporation and/or its subsidiaries or affiliates.
    </p>
    <p>
        All Rights Reserved.
    </p>
</div>
