<h2>TreeView Partial View</h2>

@{
	var action = "New" + ViewBag.title.Remove(ViewBag.title.Length - 1);
}

<div class="new-view-button" onclick="location.href='@Url.Action(@action, @ViewBag.title)'">
	<span class="icon icon-New">
		<i class="fa fa-plus-circle"></i>
		<span>
			New @(ViewBag.title.Remove(ViewBag.title.Length - 1))
		</span>
	</span>
</div>

@(Html.Kendo().TreeView()
	.Name("treeview")
	.Items(treeview => {
		treeview.Add().Text("Inbox (17)");
		treeview.Add().Text("Junk (0)");
		treeview.Add().Text("Drafts (0)");
		treeview.Add().Text("Deleted (0)");
		treeview.Add().Text("NativeScript (1)");

		treeview.Add().Text("Kend UI (3)")
			.Items(item => {
				item.Add().Text("Blog Comments (5)");
				item.Add().Text("News (3)");
			})
		;
		treeview.Add().Text("Sitefinity (7)");
	})
)

<div id="new-node-container" class="hidden">
	<input id="newNodeText" class="k-textbox" />
</div>
<div class="btn-new-node" onclick="addNewCategory()">Add New</div>

<script>	
	function addNewCategory() {
		var nodeContainer = $("#new-node-container")
		if (nodeContainer.hasClass("hidden")) {
			nodeContainer.removeClass("hidden");
		}
		else {
			appendCategory();
			nodeContainer.addClass("hidden");
		}
	}

	function appendCategory() {
		var treeview = $("#treeview").data("kendoTreeView");
		var selectedNode = treeview.select();
		var newNodeValue = $("#newNodeText").val()

		if (selectedNode.length == 0) {
			selectedNode = null;
		}

		if (newNodeValue != "") {
			treeview.append({
				text: $("#newNodeText").val()
			}, selectedNode);
			$("#newNodeText").val("");
		}
		else {
			treeview.append({
				text: "New Folder"
			}, selectedNode);
		}
	}
</script>
