@{
	var controller = ViewBag.title;
	var action = "New" + ViewBag.title.Remove(ViewBag.title.Length - 1);
	var newViewText = "New " + ViewBag.title.Remove(ViewBag.title.Length - 1); 

	if (ViewBag.title == "Mails")
	{
		controller = "Home";
	}
	else if (ViewBag.title.Contains("New"))
	{
		String newViewModified = ViewBag.title.Insert(3, " ");
		newViewText = newViewModified;
	}
}

<div class="new-view-button" onclick="location.href='@Url.Action(@action, @controller)'">
	<span class="icon icon-New">
		<i class="fa fa-plus-circle"></i>
		<span>@newViewText
		</span>
	</span>
</div>

@(Html.Kendo().TreeView()
	.Name("treeview")
	.Items(treeview =>
	{
		treeview.Add().Text("Inbox (17)");
		treeview.Add().Text("Junk (0)");
		treeview.Add().Text("Drafts (0)");
		treeview.Add().Text("Deleted (0)");
		treeview.Add().Text("NativeScript (1)");

		treeview.Add().Text("Kend UI (3)")
			.Items(item =>
			{
				item.Add().Text("Blog Comments (5)");
				item.Add().Text("News (3)");
			})
		;
		treeview.Add().Text("Sitefinity (7)");
	})
)

<div id="new-node-container" class="hidden">
	<input id="newNodeText" class="k-textbox" />
</div>
<div class="btn-new-node" onclick="addNewCategory()">Add New</div>

<div class="about-and-source">
    @(Html.Kendo().Menu()
    .Name("aboutInfoMenu")
    .Items(items =>
    {
        items.Add().Text("About This App").Action("About", "Home");
        items.Add().Text("Download Source Code");
    })
    .Orientation(MenuOrientation.Vertical)
    )

    <p>
        Copyright &copy; 2017 Progress Software Corporation and/or its subsidiaries or affiliates.
    </p>
    <p>
        All Rights Reserved.
    </p>
</div>

<script>
	function addNewCategory() {
		var nodeContainer = $("#new-node-container")
		if (nodeContainer.hasClass("hidden")) {
			nodeContainer.removeClass("hidden");
		}
		else {
			appendCategory();
			nodeContainer.addClass("hidden");
		}
	}

	function appendCategory() {
		var treeview = $("#treeview").data("kendoTreeView");
		var selectedNode = treeview.select();
		var newNodeValue = $("#newNodeText").val()

		if (selectedNode.length == 0) {
			selectedNode = null;
		}

		if (newNodeValue != "") {
			treeview.append({
				text: $("#newNodeText").val()
			}, selectedNode);
			$("#newNodeText").val("");
		}
		else {
			treeview.append({
				text: "New Folder"
			}, selectedNode);
		}
	}
</script>
